# JS dependencies
/node/
/node_modules/

# build zone
/target/

# directory with the built plugin when testing
/runtime/graylog/plugin/

# For backend tests in python
/validation/__pycache__/
/validation/venv/

# IDE
/.idea/
